#para span{
    color: greenyellow;
}
div h1 p{
    color: yellow;
}
*{
    font-size: 30px;
}
a{
    text-decoration: none;
}
a:hover{
    color: aqua;
}
div:hover{
    background-color: cyan;
}
a:active{
    color: blue;
}
