*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid red;
    height: 100vh;
    width: 100vw;
}

.mainDiv{
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 1rem;
    padding: 2rem;
    border: 2px solid green;
    width: 80%;
    height: 100%;
    margin: auto;
}

.girdItem{
    border: 2px solid green;
}

.girdItem1{
    grid-column-start: 1;
    grid-column-end: 4;

}

.girdItem3{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.girdItem5{
    grid-column-start: 2;
    grid-column-end: 5;
}